@{
    ViewData["Title"] = "ABC Retail";
}
<h1 class="display-4">Welcome to ABC Retail</h1>
<p class="lead">Your one-stop shop for vintage technology and retro gadgets.</p>


<div class="mt-5">
    <h2 class="display-6">About Us</h2>
    <p class="text-muted">At ABC Reatil, we bring you the finest selection of retro technology and vintage gadgets. From classic Japanese arcade games to old-school music players, we have something for every enthusiast.</p>
</div>
</div>
